<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.modelwriter.architecture.textconnectors.docx.command.ui.Convert2ReqModelHandler"
            id="eu.modelwriter.architecture.textconnectors.docx.command.ui.docx2reqmodel"
            name="Convert Docx to ReqModel">
      </command>
      <command
            defaultHandler="eu.modelwriter.architecture.textconnectors.docx.command.ui.Convert2DocxHandler"
            id="eu.modelwriter.architecture.textconnectors.docx.command.ui.reqmodel2docx"
            name="Convert ReqModel to Docx">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Docx-ReqModel Convertion">
            <command
                  commandId="eu.modelwriter.architecture.textconnectors.docx.command.ui.docx2reqmodel"
                  label="Convert Docx to ReqModel"
                  style="push">
            </command>
            <command
                  commandId="eu.modelwriter.architecture.textconnectors.docx.command.ui.reqmodel2docx"
                  label="Convert ReqModel to Docx"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
