<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="eu.modelwriter.architecture.textconnectors.docx.design.Activator"
               id="eu.modelwriter.architecture.textconnectors.docx.design"
	       name="modelwriterTextConnector">
    </component>
  </extension>
</plugin>
