<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated usecase -->
      <package
            uri="eu.modelwriter.architecture.textconnectors.docx.usecase"
            class="useCase.UseCasePackage"
            genModel="model/usecase.genmodel"/>
   </extension>

</plugin>
