<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Concepts -->
      <package
            uri="http://www.concepts.eu/modelwriter/concepts/0.9"
            class="eu.modelwriter.models.concepts.ConceptsPackage"
            genModel="model/Concepts.genmodel"/>
   </extension>

</plugin>
